<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <main>
        <p>Welcome to my site!</p>
        <p>About me:</p>
        <p>I'm a begginer Node.js Developer with some expirience in web scraping field and building webapps and automations in Google Apps Script enviroment.<br>I have no commercial expierience in working as a Node.js Developer, but I have over 2 years of experience in code writing, working  as a team member in Agile's sprints, processes optimization and delivering solutions for business needs.</p>
        <p>In Experience tab you will find more detailed information about my career, both whole career path and programming-related one. I included my education as well.</p>
        <p>Please check Stack tab, to find out what technologies I'm learning and using, also the projects I've made so far.</p>
        <p>If you liked what you have seen and you're willing to get some work done together, please find contact details in Contact tab. Of course, do not hesitate to drop me a message or call me straight away!</p>
    </main>
    {{>footer}}
    <script type="module" src="./js/script.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>